@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: #F4F4F4;
    font-family: 'proxima_novalight', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.5em;
    width: 100%;
}

a{
    text-decoration: none;
    color: #f66666;
}

a:hover {
    border-bottom: 2px solid;
}

h1 {
    font-family: 'Josefin Slab', Arial, sans-serif;
    font-size: 4em;
    letter-spacing: -.05em;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'proxima_novalight', Arial, sans-serif;
    font-size: 2em;
    letter-spacing: -.05em;
    margin: auto;
    text-decoration: none;
    padding-bottom: 15px;
}

h3 {
    font-family: 'proxima_novalight', Arial, sans-serif;
    letter-spacing: -.05em;
    margin: auto;
    text-decoration: none;
    padding-bottom: 15px;
}

#navbar {
    overflow: hidden;
    position: fixed;
    width: 300px;
    margin-left: 50px;
    text-align: left;
}

#navbar li {
    list-style: none;
    display: inline;
}

#navbar li:before {
    content: " / ";
    color: #555;
}

#navbar li:first-child:before {
    content: none;
}

#navbar a {
    font-family: 'aller_lightregular', Arial, sans-serif;
    text-decoration: none;
    color: #777;
}

#navbar a:hover {
    color: #000;
    border-bottom: 2px solid;
}

#portfolio {
    text-align: center;
    background-image: url("../images/bg2.jpg");
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#indport {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about {
    margin: auto;
    text-align: center;
    width: 950px;
}


.headers {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.ports .works {
    width: 828px;
    position: relative;
    margin: auto;
    display: block;
}

.ports .works .info{
    width: 828px;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #6BB4AD;
    font-size: 21px;
    color: #FFF;
    text-align: center;
    display: none;
    font-size: 21px;
    font-family: "proxima_novalight",sans-serif;
    font-weight: 200;
}

.ports .works:hover .info{
    display: block;
}

.ports .works:hover .info p{
    padding-top: 20px;
    font-weight: 500;
    font-family: 'proxima_novalight', Arial, sans-serif;
}

.ports .works .title{
    background: #222;
    height: 20px;
    padding: 30px 0px 25px 0px;
    margin-top: -10px;
}

.ports .works .title h2{
    text-align: center;
    color: #f4f4f4;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: "proxima_novalight",sans-serif;
}

.skills {
    display: inline-block;
    top: 0px;
}

.skills li{
    list-style: none;
}

#bio {
    width: 750px;
}

#back {
    width: 250px;
}

#front {
     width: 250px;
     top: 0px;
 }

#gems {
    width: 250px;
    top: 0px;
}

.maincat {
    font-weight: 800;
}


.github {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/github.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.github:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/github.png");
    opacity: .5;
}

.pinterest {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/pinterest.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.pinterest:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/pinterest.png");
    opacity: .5;

}
.twitter {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/twitternew.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.twitter:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/twitternew.png");
    opacity: .5;

}
.linkedin {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/linkedin.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.linkedin:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/linkedin.png");
    opacity: .5;

}
.instagram {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/instagram.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.instagram:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/instagram.png");
    opacity: .5;

}
.etsy {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/etsy.png");
    height: 45px;
    width: 45px;
    display: inline-block;
}

.etsy:hover {
    background-image: url("http://alinaguzman.com/wp-content/uploads/2013/06/etsy.png");
    opacity: .5;

}

.techstack {
    margin: auto;
    width: 50%;
    color: #ffffff;
    border-radius: 2px;
    background-color: #555;
    opacity: .5;
    text-align: center;
    padding: 30px;
}

.techstack h3 {
    font-size: 2em;
    font-family: 'josefin slab', serif;
}

#footer {
    background-image: url('../images/bg2.jpg');
    height: 150px;
    margin-top: 20px;
    color: #999;
}

#footer p {
    padding-top: 80px;
    margin-left: 50px;
}
